:root {
    /*colores*/
    --botcoin-orange: #f7931a;
    --soft-orange:#ffe9d5;
    --scondary-blue:#6f1af7;
    --soft-purple:#edbdf6;
    --warm-black:#201e1c;
    --black:#282623;
    --grey:#bababa;
    --off-white:#faf8f7;
    --just-white:#fff;
    /* titulos */
    --title-font :4rem;
    --subtitle-font: 3rem;
    --main-font: 1.8rem;
    --description-font:1.4rem;
    /*frontera*/
    --frontera : 5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    font-family:'Courier New', Courier, monospace;
}

.contenedor{
 
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}



header{
    width: 100%;
    height: 500px;
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff98c, #ec38bc86, #7403c09c, #03001e9a), url(../Imagenes/Logo.PNG) ;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fdeff98c, #ec38bc86, #7403c09c, #03001e9a), url(../Imagenes/Logo.PNG) ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    font-size: var(--main-font);
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: var(--title-font);
    color: white;

}

.textos-header h2{
    font-size: var(--title-font);
    font-weight: 300;
    color: white;
    
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main {
    list-style: none;    
    margin-top: 0px; 
    margin-bottom: 0px;   
    /* background: linear-gradient(to bottom, #eec8aab9, #b99f8bb9); */
    
}
.categorias .categorias__img,
.categorias .fa-shopping-basket,
.categorias .descripcion__categoria{
    cursor: pointer;
}
.nombre__categoria{
    font-size: var(--main-font);
    text-align: center;
    color:rgba(112, 53, 112, 0.582);
}
.productos__container__slider{
    margin:50px;
    position: relative;
}
.titulo__slider{
    display: block;
    font-size: var(--subtitle-font);
    width: 100%;
    text-align: center;
    color: var(--botcoin-orange);
    position: absolute;
}

.container__categorias{
    margin-top: 60px ;
    display: flex;
    flex-wrap: wrap;
 
}
.categorias{
 
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.753);
    box-shadow: 1px 1px 1px 1px rgba(181, 159, 202, 0.787);

}
.categorias p{
    font-size: var(--description-font);
}
/*ensayo*/
 .galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    
    background-size: cover;
    margin-bottom: 10px;
    width: 300px; 
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.452);
}
.imagen-port > img{
    width: auto; 
    height: 200px;
    max-width: 300px;
    
    background-size: cover;
    /* object-fit: cover;
    display: block; */
}
.hover-galeria{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/ensure2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria1{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/enterex2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria2{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/gain2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria3{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/glucerna2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria4{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/herbalife2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria5{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/pediasure2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria6{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/serious_mass2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria7{
    display: flex;
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    transform: scale(0);
    background: url(../imagenes_nutricion/whey2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p{
    color: white;
}

.categorias:hover .hover-galeria{
    transform: scale(1);
}  
.categorias:hover .hover-galeria1{
    transform: scale(1);
} 
.categorias:hover .hover-galeria2{
    transform: scale(1);
} 
.categorias:hover .hover-galeria3{
    transform: scale(1);
} 
.categorias:hover .hover-galeria4{
    transform: scale(1);
} 
.categorias:hover .hover-galeria5{
    transform: scale(1);
} 
.categorias:hover .hover-galeria6{
    transform: scale(1);
} 
.categorias:hover .hover-galeria7{
    transform: scale(1);
} 

/*ensayo*/
.productos-header__container{
    position: relative;
    display: block;    
    margin-top: 20px;
    
}
.productos-header__btn{
    
    font-size: var(--main-font);
}
.productos-header__container .producto__header__input{
    border-radius: 20px;
    box-shadow:0 12px 15px 0 rgba(148, 93, 153, 0.349),0 17px 50px 0 rgba(5, 5, 5, 0.281);
    display: block;
    padding: 10px;
    width: 100%;
}
.productos-header__container  .fa-search{
    position: absolute;
    right: 10px ;
    bottom: 10px;
    cursor: pointer;
}

.fa-search{    
    background-image: url('../Imagenes/search-icon.PNG');
    background-position: center ; 
    width: 20px; 
    height: 20px;
    background-size: cover;
}
#basket-shop{
    color: var(--off-white);
    top: 5px;
}
#basket-shop .img{
    /* background-image: url('../Imagenes/shopping-basket-solid.svg'); */
    width: 15px;
    height: 15px;      
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
main{
    
   width: 100vw;
    /* background: var(--soft-orange); */
    background-image: url(../Imagenes/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 30px;
}
footer{
    background: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: block;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.content-foo{
    margin: 5px;
    font-size:var(--main-font);
    text-align: center;
}

.content-foo h4{
    font-size: var(--main-font);
    color: white;
    border-bottom: 3px solid rgb(163, 13, 163);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    font-size: var(--main-font);
    color: gray;

}

.titulo-final{
    text-align: center;
    font-size: var(--subtitle-font);
    margin: 20px 0 0 0;
    color: rgb(255, 255, 255);
}


 *,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


 
    .btn-cart{
        width: 50%;
        margin-left: auto;
        margin-right: auto ;
        align-items: center;
        background-color: var(--off-white);
        display: block;
        padding: 10px 25px;
        border: 1px solid var(--warm-black);
        color:var(--warm-black);
        text-decoration: none;
        font-weight: bold;
    }
    /*header*/
   
        .header-inicio-pc{
            transform: scale(0);
        }
        .header{
            transform: scale(1);
        }
    
  
   
    
    nav{
        color: tomato;
    }
    
    .hamburger{
        position: fixed;
        top: 30px;
        right: 0px;
        background: white;
        width: 40px;
        z-index: 20px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0,0,0,.5);
    }
    
    .menu-navegacion{
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100%;
        background-image: linear-gradient(to top, #30d0d0 0%, #330867 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform .3s ease-in-out;
        transform: translate(110%);
        box-shadow: 0 0 6px rgba(0,0,0,.5);
    }
    
    .spread{
        transform: translate(0);
    }
    
    .menu-navegacion a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
    }
    /*inicio slider automatico*/
    .slider{
        border-radius: 40px;
        width: 100%;
        margin: auto 0px;
        overflow: hidden;
        box-shadow: 6px 6px 12px 6px rgba(0, 0, 0, 0.349);
        border: 1px solid rgba(128, 120, 120, 0.233);
    }
    
    .slider ul{
        left: 0px;
        display: flex;
        padding: 0;
        width: 100%;
        animation: cambio 30s infinite alternate linear;
    }
    
    .slider li{
        width: 100%;
        list-style: none;
    }
    
    .slider img{
        width: 400px;
         height: 300px;
        /* width: 100%; */
        margin-left: 0px;
        margin-right: 0px;
    }
    
    @keyframes cambio{
        0% {margin-left: 0;}
        7%{margin-left: 0;}
        10%{margin-left: -100%;}
        17%{margin-left: -100%;}
        20%{margin-left: -200%;}
        27%{margin-left: -200%;}
        30%{margin-left: -300%;}
        37%{margin-left: -300%;}
        40%{margin-left: -400%;}
        47%{margin-left: -400%;}
        50%{margin-left: -500%;}
        55%{margin-left: -500%;}
        57% {margin-left: -60%;}
        62%{margin-left: -600%;}
        65%{margin-left: -700%;}
        70%{margin-left: -700%;}
        72%{margin-left: -800%;}
        77%{margin-left: -800%;}
        80%{margin-left: -900%;}
        85%{margin-left: -900%;}
        87%{margin-left: -1000%;}
        93%{margin-left: -1000%;}
        95%{margin-left: -1100%;}
        100%{margin-left: -1100%;}
    }
    /*contenido textos*/
    .imagen-about-us{
        width: 50%;
    }
    .contenedor-sobre-nosotros{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 20px;
        margin-left: 5px;
        display: block;
         /* justify-content: space-evenly;  */
    }
    .sobre-nosotros .contenido-textos{
        width: 60%;
    }
    
    .contenido-textos{
        margin-left: 40px;
        margin-bottom: 15px;
    }
    
    .contenido-textos h3 span{
        background: purple;
        color: white;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 22px;
        height: 20px;
        padding: 2px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        margin-right: 5px;
    }
    
    .contenido-textos h3{
        text-align: left;
        font-size: var(--main-font);
        color: indigo;
    }
    
    .contenido-textos p{
        padding: 0 0 30px 15px;
        font-size: var(--main-font);
        text-align: justify;
        color:var(--off-white);
    }
    .titulo {
        color: indigo;
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    } 
    /*fin slider automatico*/
    /*Menu header boton*/
    .hamburger{
        position: fixed;
        top: 30px;
        right: 0px;
        background: white;
        width: 40px;
        z-index: 20px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0,0,0,.5);
    }
    
    .menu-navegacion{
        position: fixed;
        top: 0;
        right: 0;
        width: 70vw;
        height: 250px;
        background-image: linear-gradient(to top, #30d0d0 0%, #330867 100%);
   
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transition: transform .3s ease-in-out;
        transform: translate(110%);
        box-shadow: 0 0 6px rgba(0,0,0,.5);
    }
    .menu-navegacion a{
        left: 0px;
    }
    
    .spread{
        transform: translate(0);
    }
    
    .menu-navegacion a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: pointer;
    }
    
    